In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from meteostat import Stations, Daily, Hourly, units

from hourly import *
from daily import *
from stations import *

In [3]:
stations = get_stations()

stations

,id,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end
0,69002,Hunter Ligget / Hunter-Liggett,US,CA,69002,KHGT,35.9935,-121.2367,310.0,America/Los_Angeles,1964-07-15,1997-04-01,1964-07-15,1971-07-31,1964-01-01,1971-01-01
1,69007,Fort Ord / Blanco,US,CA,69007,KOAR,36.6815,-121.7617,42.0,America/Los_Angeles,1973-01-02,2021-07-18,1983-03-31,2021-07-15,2020-01-01,2021-01-01
2,69014,Irvine,US,CA,69014,KNZJ,33.6667,-117.7167,119.0,America/Los_Angeles,1989-01-01,1999-06-06,1945-03-01,1998-12-10,1945-01-01,1998-01-01
3,69015,Twentynine Palms / Sunfair Heights,US,CA,69015,KNXP,34.2962,-116.1622,625.0,America/Los_Angeles,1990-01-02,2021-07-18,1945-05-01,2021-07-14,1945-01-01,2021-01-01
4,69019,Abilene / Tye,US,TX,69019,KDYS,32.4198,-99.8554,545.0,America/Chicago,1943-12-01,2021-07-18,1943-12-02,2021-07-15,1944-01-01,1996-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,PHKO0,Kailua Kona / Mahaiula,US,HI,<NA>,PHKO,19.7388,-156.0456,14.0,Pacific/Honolulu,2006-01-01,2021-07-18,2006-01-01,2021-07-15,2006-01-01,2021-01-01
2439,PHMU0,Kamuela / Puopelu,US,HI,<NA>,PHMU,20.0013,-155.6681,814.0,Pacific/Honolulu,1941-07-14,2021-06-10,NaT,NaT,NaT,NaT
2440,PHNY0,Lanai Airport 656 / Kaumalapau,US,HI,<NA>,PHNY,20.7856,-156.9514,399.0,Pacific/Honolulu,2006-01-01,2021-07-18,2006-01-04,2021-07-12,2008-01-01,2021-01-01
2441,PHSF0,Pohakuloa / Waiki‘i,US,HI,<NA>,PHSF,19.7600,-155.5538,1887.0,Pacific/Honolulu,2006-01-03,2021-07-17,2006-02-01,2021-07-15,2006-01-01,2020-01-01
2442,U9ANI,Julian CDF,US,CA,<NA>,<NA>,33.0833,-116.6300,1285.0,America/Los_Angeles,NaT,NaT,1893-01-01,2021-07-06,1893-01-01,2021-01-01

In [10]:
station_id = ['KIAG0']

hourly_weather = get_hourly_weather(station = station_id, 
                   days_history = 7)

In [11]:
daily_prec = (hourly_weather
    .groupby('time_date')
    .agg({'prcp': 'sum'})
    .pipe(lambda x: x.assign(total_prcp_7_days = x['prcp'].rolling(7).sum()))
    .pipe(lambda x: x.assign(total_prcp_28_days = x['prcp'].rolling(30).sum()))
    .reset_index()
    .sort_values(['time_date'], ascending = False)
    #.set_index('time_date')
)

In [15]:
pd.melt(daily_prec, id_vars=['time_date'], value_vars=['prcp', 'total_prcp_7_days', 'total_prcp_28_days'])

     time_date            variable  value
0   2021-07-18                prcp  0.675
1   2021-07-17                prcp  3.994
2   2021-07-16                prcp  0.216
3   2021-07-15                prcp  0.000
4   2021-07-14                prcp  0.390
5   2021-07-13                prcp  0.548
6   2021-07-12                prcp  1.348
7   2021-07-11                prcp  0.453
8   2021-07-18   total_prcp_7_days  7.171
9   2021-07-17   total_prcp_7_days  6.949
10  2021-07-16   total_prcp_7_days    NaN
11  2021-07-15   total_prcp_7_days    NaN
12  2021-07-14   total_prcp_7_days    NaN
13  2021-07-13   total_prcp_7_days    NaN
14  2021-07-12   total_prcp_7_days    NaN
15  2021-07-11   total_prcp_7_days    NaN
16  2021-07-18  total_prcp_28_days    NaN
17  2021-07-17  total_prcp_28_days    NaN
18  2021-07-16  total_prcp_28_days    NaN
19  2021-07-15  total_prcp_28_days    NaN
20  2021-07-14  total_prcp_28_days    NaN
21  2021-07-13  total_prcp_28_days    NaN
22  2021-07-12  total_prcp_28_days    NaN
23  2021-07-11  total_prcp_28_days    NaN